*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
button{
    border: none;
    outline: none;
    background: tomato;
    font-size: 30px;
    padding: 30px;
    cursor:pointer;
    border-radius: 50px;
}
button:hover{
    background: #fff;
    box-shadow:3px 5px 15px ;
}
h2{
    margin-top: 30px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2 ,2fr);
}
.img-slide{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    margin: 0px 150px;
}
#yin-yang {
    width: 96px;
    box-sizing: content-box;
    height: 48px;
    background: #eee;
    border-color: red;
    border-style: solid;
    border-width: 2px 2px 50px 2px;
    border-radius: 100%;
    position: relative;
  }
  #yin-yang:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background: #eee;
    border: 18px solid red;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    box-sizing: content-box;
  }
  #yin-yang:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: red;
    border: 18px solid #eee;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    box-sizing: content-box;
  }
  .yin-yang{
      margin:-20px 70px;
      left: 37%;
      bottom: 5rem;
  }
  .yin-yang:hover{
      box-shadow: 3px 4px 2px rgb(201, 28, 28);
      cursor: pointer;
  }
  .img-slide{
      visibility: hidden;
  }
 